* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #eee;
	font-size: 12px;
	background:#bfbfbf;
	
	
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	line-height: 100%;
}

h1.title {
	font-size: 46px;
	font-weight: 700;
	color: #6a6a6a;
	
}


h2 {
	font-size: 24px;
}



a {
	text-decoration: underline;
	color: white;
}

a:hover {
	color: yellow;
}


.menuBtn {	
	background: center center no-repeat transparent;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
	
}

.active {
	background: #E05310;
}
.clear {
	clear: both;
}
.wrap {
	/*background:url(../images/bg.png) top left repeat-x;*/
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
	
}



.section {
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:30px 0;
}


/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 350px;
	height: 50px;
	z-index: 1000;
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	background: #171948;
	
}

.subMenu .inner {
	padding: 0;
	font-weight: 400;
}





.subNavBtn {
	display: block;
	height: 35px;
	width: 16%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 0 0 0;
	text-align: center;
	color: #fff;
}

.end {
	margin: 0;
}


/* SECTIONS */
.sTop {
	min-height: 630px;
	background: url(../images/bg.jpg) top left repeat-x;
	color: #171948;
}



.s1 {
	min-height: 500px;
	background: #231B57;
}

.s1 p {
	columns: 100px 2;
	-webkit-columns: 100px 2; /* Safari and Chrome */
	-moz-columns: 100px 2; /* Firefox */
	margin-left: 300px;
}

.s1 img {
	margin-top: -900px;
	vertical-align: text-top;
}


.s2 {
	min-height: 500px;
	background: #32296E;
}


.s3 {
	min-height: 500px;
	background: #403880;
}


.s4 {
	min-height: 500px;
	background: #564D9A;
}

.s4 p {
	margin-bottom: 15px;
}

.s4 h4 {
	margin-bottom: 15px;
}

.s5 {
	min-height: 500px;
	background: #726AB6;
}


/* FOOTER */
.s6 {
	min-height: 300px;
	color:#333;
}

.s6 p {
	margin-left: 200px;
	margin-top: 50px;
}

.s6 img {
	float: left;
}



/* PICTURES & PARTNER */

.figure {
	margin-right: 45px;
	margin-bottom: 40px;
	width: 250px;
	display: inline-table;
}


.figure p {
	font-size: 12px;
	text-align: left;
	font-style: italic;
}